<!--The whole content below can be removed with the new code.-->
<div class="images-container">
  <img src="../assets/img/primeraimg.png">
</div>

<div style="text-align:center">


  <alemana-card>
    <div align="left">

      <alemana-typography variant="h4" weight="bold" type="primary">DIAGNÓSTICO</alemana-typography>
      <alemana-typography variant="span" size="12">Última actualización: 10 / 07 / 2017, 20:30 hrs.</alemana-typography>
    </div>
    <alemana-table-diagnostico [columns]="tableDiagnostico.headers" [rows]="tableDiagnostico.body">
    </alemana-table-diagnostico>
    <br />
    <alemana-button (onClick)="buttonAction()">Nuevo Diagnóstico</alemana-button>
  </alemana-card>

  <div>
    <alemana-modal *ngIf="showModal" (closeModal)="closeModal()" (endProcess)="addElementToTable($event)">
    </alemana-modal>
  </div>
</div>

<div class="images-container">
  <img src="../assets/img/segundaimg.png">
</div>